
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
     ViewData["UserLogin"] = ViewBag.UserLogin;
    ViewData["UserLoginFirst"] = ViewBag.UserLogin[0];

}

<h1>Index</h1>

