@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/LOGO2.png">

    <!-- Template -->
    <link rel="stylesheet" href="/css/Admin/css/graindashboard.css">

    @if (ViewData["ErrorLogin"] != null)
    {
        <script>alert("sai tên đăng nhập hoặc mật khẩu")</script>
    }
</head>

<body class="">

    <main class="main">

        <div class="content">

            <div class="container-fluid pb-5">

                <div class="row justify-content-md-center">
                    <div class="card-wrapper col-12 col-md-4 mt-5">
                        <div class="brand text-center mb-3">
                            <a href="/"><img src="/img/logofull.png" style="width:300px"></a>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Login</h4>
                                <form action="/Admin/Home/Login" method="post">
                                    <div class="form-group">
                                        <label for="email">User Name</label>
                                        <input id="email" type="text" class="form-control" name="UserName" required="" autofocus="">
                                    </div>

                                    <div class="form-group">
                                        <label for="password">
                                            Password
                                        </label>
                                        <input id="password" type="password" class="form-control" name="PassWord" required="">
                                        <div class="text-right">
                                            @*<a href="password-reset.html" class="small">
                                            Forgot Your Password?
                                            </a>*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-check position-relative mb-2">
                                            <input type="checkbox" class="form-check-input d-none" id="remember">
                                            <label class="checkbox checkbox-xxs form-check-label ml-1" for="remember"
                                                   data-icon="&#xe936">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Sign In
                                        </button>
                                    </div>
                                    <div class="text-center mt-3 small">
                                        Don't have an account? <a href="/Home/Register">Sign Up</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <footer class="footer mt-3">
                            <div class="container-fluid">
                                <div class="footer-content text-center small">
                                    <span class="text-muted">&copy; 2019 Graindashboard. All Rights Reserved.</span>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>



            </div>

        </div>
    </main>

    @*<script src="/js/Admin/graindashboard/js/graindashboard.js"></script>
    <script src="/js/Admin/graindashboard/js/graindashboard.vendor.js"></script>*@
</body>
</html>