<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Multichoice_project</title>
    @*<link rel="stylesheet" href="~/Multichoice_project.styles.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Test/Test.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Quiz.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/lib.css" asp-append-version="true">
     <script src="~/IconfontAwesome/all.min.js"> </script>
    @*<script src="https://kit.fontawesome.com/a5ab0b4337.js" crossorigin="anonymous"></script>*@

</head>
<body>
    <div class="header">
        <div class="container">
            <nav class="navbar">
                <img onclick=" window.location='/'" class="logo" src="~/img/Picture5.png">
                <div class="navbar-collapse-menu">
                    <ul class="navbar-nav-menu">
                        <li class="navbar-nav-menu_li nav-menu-EducationalField">
                            <a class=" nav-menu-a" href="/Test/EducationalField?EduFieldName=Trắc Nghiệm THPT">Trắc Nghiệm THPT</a>
                            
                            <div class="dropdow-menu">
                                <ul class="row"></ul>
                            </div>
                            
                        </li>
                        <li class="navbar-nav-menu_li nav-menu-EducationalField">
                            <a class=" nav-menu-a" href="/Test/EducationalField?EduFieldName=Đại Học">Đại Học</a>
                            <div class="dropdow-menu">
                                <ul class="row"></ul>
                            </div>
                        </li>

                        <li class="navbar-nav-menu_li nav-menu-EducationalField">
                            <a class=" nav-menu-a" href="/Test/EducationalField?EduFieldName=English Test">English Test</a>
                            <div class="dropdow-menu">
                                <ul class="row"></ul>
                            </div>
                        </li>
                        <li class="navbar-nav-menu_li nav-menu-EducationalField">
                            <a class=" nav-menu-a" href="/Test/EducationalField?EduFieldName=IT Test">IT Test</a>
                            <div class="dropdow-menu">
                                <ul class="row"></ul>
                            </div>
                        </li>
                        <li class="navbar-nav-menu_li nav-menu-EducationalField">
                            <a class=" nav-menu-a" href="/Test/EducationalField?EduFieldName=Thi THPHQG">Thi THPHQG</a>
                            <div class="dropdow-menu">
                                <ul class="row"></ul>
                            </div>
                        </li>
                        <li class="navbar-nav-menu_li nav-menu-EducationalField">
                            <a class=" nav-menu-a" href="/Test/EducationalField?EduFieldName=Hướng Ngiệp">Hướng Ngiệp</a>
                            <div class="dropdow-menu">
                                <ul class="row"></ul>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="account-box">
                    <div class="user-logged" onclick=" window.location='/Home/Login'">
                        <h6>@ViewData["UserName"]</h6>
                        <img src="/img/user_avata/UnLogin.jpg" class="rounded-cricle" alt="Circular Image" />
                    </div>
                </div>


            </nav>

        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="banner-title">
                <div class="banner-title-group ">
                    <br>
                    <br>
                    <h1 class=" title-name">
                        <span class="tilte-name_span">TRẮC NGHIỆM ONLINE </span>-kiểm tra kiến thức hiệu quả
                    </h1>
                    <p>Hệ thống các câu hỏi trắc nghiệm các lĩnh vực giáo dục và hướng nghiệp , kỹ năng mềm ...</p>
                    <div class="search">
                        <form action="/Test/Search" method="post">
                            <input type="text" class="form-control" placeholder="Bạn muốn tìm gì?" name="KeyWord">
                            <button type="submit" class="btn btn-primary search-btn blue_search">Tìm Kiếm</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        @*</div>*@

        @*-----------------=============List test appoint================---------------*@
        <br />
        <br />
        <section>
            <div class="container">

                <div class="list-test-item">

                    @* ------------======================Body===================--------------*@
                    @RenderBody()


                    @*<div class="card mb-3 " style="width: 500px; height: 150px;overflow:hidden">
                    <div class="row g-0 row-item">
                    <div class="col-md-6 height_100">
                    <div class="linear-gradient-1">
                    <p class="linear-gra_p">Đề thi hk 2 môn lịch sửgggggggggggggggggggggg gggggggggggggggg gggg sssssssssssss dddddddđggggggggggggg ggggggggggggggggg ggggggggggggggg năm 20 21 - 2022</p>
                    </div>
                    </div>
                    <div class="col-md-6 height_100">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="card mb-3 " style="width: 500px; height: 150px;overflow:hidden">
                    <div class="row g-0 row-item">
                    <div class="col-md-6 height_100">
                    <div class="linear-gradient-2"></div>
                    </div>
                    <div class="col-md-6 height_100">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="card mb-3 " style="width: 500px; height: 150px;overflow:hidden">
                    <div class="row g-0 row-item">
                    <div class="col-md-6 height_100">
                    <div class="linear-gradient-3"></div>
                    </div>
                    <div class="col-md-6 height_100">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="card mb-3 " style="width: 500px; height: 150px;overflow:hidden">
                    <div class="row g-0 row-item">
                    <div class="col-md-6 height_100">
                    <div class="linear-gradient-4"></div>
                    </div>
                    <div class="col-md-6 height_100">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="card mb-3 " style="width: 500px; height: 150px;overflow:hidden">
                    <div class="row g-0 row-item">
                    <div class="col-md-6 height_100">
                    <div class="linear-gradient-5"></div>
                    </div>
                    <div class="col-md-6 height_100">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="card mb-3 " style="width: 500px; height: 150px;overflow:hidden">
                    <div class="row g-0 row-item">
                    <div class="col-md-6 height_100">
                    <div class="linear-gradient-6">
                    </div>
                    </div>
                    <div class="col-md-6 height_100">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>
        </section>
        @*-----------------=============END List test appoint================---------------*@

        <footer>
            <div class="container">
                <img onclick=" window.location='/'" style="margin: auto;display: block;" alt=" logo footer" src="/img/logofooter.png" height="70">
                <div class="row" style="border-top: 1px solid #a5aff9ab;border-bottom: 1px solid #a5aff9ab;">
                    <div class=" col-3 p-3">
                        <div class="p-2">
                            <i class="fas fa-map-marked-alt"></i>
                            <b>Tầng 2, số nhà 541 Vũ Tông Phan, Phường Khương Đình, Quận Thanh Xuân, Thành phố Hà Nội</b>

                        </div>

                    </div>
                    <div class="col-3 p-3">
                        <div class="p-2">
                            <i class="fas fa-phone-volume"></i>
                            Phone:<b> 084 283 4585</b>
                        </div>
                        <div class="p-2">
                            <i class="far fa-envelope"></i>
                            Email: <b>vietjackteam@gmail.com</b>
                        </div>
                        <div class="p-2" style="font-size: 22px">
                            <i class="fab fa-facebook-f"></i>
                            &nbsp
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                    <div class="col-3 p-3">
                        <h6>DANH MỤC</h6>
                        <ul>
                            <li><a href="#">Giáo dục THPT</a></li>
                            <li><a href="#">Đại Học</a></li>
                            <li><a href="#">Engish Test</a></li>
                            <li><a href="#">IT Test</a></li>
                            <li><a href="#">Thi THPTQL</a></li>
                            <li><a href="#">Hướng Nghiệp</a></li>
                        </ul>
                    </div>
                    <div class="col-3 p-3">
                        <h6>ĐIỀU KHOẢN & DỊCH VỤ</h6>
                        <ul>
                            <li><a href="#">Giới Thiệu</a></li>
                            <li><a href="#">Điều Khoản</a></li>
                            <li><a href="#">Chính Sách</a></li>

                        </ul>
                    </div>
                    @*<div class="col-3 p-3">
                    <h6> LIÊN KẾT HỮU ÍCH</h6>
                    <ul>
                    <li><a href="#">Thư viện câu hỏi hữu ích</a></li>
                    <li><a href="#">Tài liệu thanh khảo</a></li>
                    <li><a href="#">Hỏi đáp bài tập</a></li>

                    </ul>
                    </div>*@
                </div>
            </div>
        </footer>


    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(".nav-menu-EducationalField").each(function() {
            var _this = $(this)
            $.ajax({
                url: "/Home/GetSubjectByEducationalFieldName",
                data: { EdudaionalName: $(this).find(".nav-menu-a").text() },
                type: "POST",
                success: function(res) {
                    for (var i = 0; i < res.name.length; i++) {
                        _this.find(".dropdow-menu").find("ul").append(`<li class="col-6">
                                                                        <a href="/Test/Subject?SubjectName=${res.name[i]}">${res.name[i]}</a>
                                                                    </li>
                                                                    `)
                        console.log(_this)
                    }
                    console.log(res.lenght)
                    console.log(res.name.length)
                }
            })
        })


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
