<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Multichoice_project</title>
    @*<link rel="stylesheet" href="~/Multichoice_project.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Test/Test.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Quiz.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/a5ab0b4337.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="header">
        <div class="container">
            <nav class="navbar">
                <img class="logo" src="~/img/Picture5.png">
                <div class="navbar-collapse-menu">
                    <ul class="navbar-nav-menu">
                        <li class="navbar-nav-menu_li">
                            <a class=" nav-menu-a" href="#">Giáo dục THPT</a>
                            <ul class="dropdow-menu">
                                <li>
                                    <a href="#">Lớp 12</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 11</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 10</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-nav-menu_li">
                            <a class=" nav-menu-a" href="#">Đại Học</a>
                            <ul class="dropdow-menu">
                                <li>
                                    <a href="#">Lớp 12</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 11</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 10</a>
                                </li>
                            </ul>
                        </li>

                        <li class="navbar-nav-menu_li">
                            <a class=" nav-menu-a" href="#">English Test</a>
                            <ul class="dropdow-menu">
                                <li>
                                    <a href="#">Lớp 12</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 11</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 10</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-nav-menu_li">
                            <a class=" nav-menu-a" href="#">IT Test</a>
                            <ul class="dropdow-menu">
                                <li>
                                    <a href="#">Lớp 12</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 11</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 10</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-nav-menu_li">
                            <a class=" nav-menu-a" href="#">Thi THPHQG</a>
                            <ul class="dropdow-menu">
                                <li>
                                    <a href="#">Lớp 12</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 11</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 10</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-nav-menu_li">
                            <a class=" nav-menu-a" href="#">Hướng Ngiệp</a>
                            <ul class="dropdow-menu">
                                <li>
                                    <a href="#">Lớp 12</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 11</a>
                                </li>
                                <li>
                                    <a href="#">Lớp 10</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <div class="account-box">
                    <div class="user-logged" onclick=" window.location='/Home/Login'">
                        <h6>Hi!..Tín Nguyễn</h6>
                        <img src="/img/user_avata/UnLogin.jpg" class="rounded-cricle" alt="Circular Image" />
                    </div>
                </div>


            </nav>

        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="banner-title">
                <div class="banner-title-group ">
                    <br>
                    <br>
                    <h1 class=" title-name">
                        <span class="tilte-name_span">TRẮC NGHIỆM ONLINE </span>-kiểm tra kiến thức hiệu quả
                    </h1>
                    <p>Hệ thống các câu hỏi trắc nghiệm các lĩnh vực giáo dục và hướng nghiệp , kỹ năng mềm ...</p>
                    <div class="search">
                        <input type="text" class="form-control" placeholder="Bạn muốn tìm gì?">
                        <button class="btn btn-primary search-btn blue_search">Tìm Kiếm</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="featued-list">
                <div class="col-2 ">
                    <div class="tag ">
                        <div class="img">
                            <img src="~/img/tag/feature1.jpg" />
                        </div>
                        <h6> Đề thi học kì</h6>
                        <p>
                            Ngân hàng câu hỏi đầy đủ các môn cấp 1,2,3
                            được trộn tạo đề theo cấu trúc phân loại giúp các em dễ dàng ôn tập online đề thi giữa học kỳ,
                            thi học kỳ theo các chủ đề đã học.
                        </p>
                    </div>
                </div>
                <div class="col-2 ">
                    <div class="tag ">
                        <div class="img">
                            <img src="~/img/tag/feature2.jpg" />
                        </div>
                        <h6> Đề thi THPQG</h6>
                        <p>
                            Tổng hợp đề thi trắc nghiệm online THPT QG
                            của các môn Toán, Tiếng Anh, Vật lý, Hóa học, Sinh học, Địa lý, Lịch sử, GDCD
                            kèm đáp án và lời giải chi tiết.
                        </p>
                    </div>
                </div>
                <div class="col-2 ">
                    <div class="tag ">
                        <div class="img">
                            <img src="~/img/tag/feature3.jpg" />
                        </div>
                        <h6> Đề kiểm tra</h6>
                        <p>
                            Ngân hàng câu hỏi đầy đủ các môn cấp 1,2,3
                            được trộn tạo đề theo cấu trúc phân loại giúp các em dễ dàng ôn tập online đề thi giữa học kỳ,
                            thi học kỳ theo các chủ đề đã học.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="footer">
    </div>

    <div class="container">
        <div class="padding-top">
            <main role="main" class="pb-3">
                @RenderBody()

            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
